/* About */
#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #4279d1;
}

/* Intro text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

.about {

    padding-top: 120px;
    padding-bottom: 120px;
}