footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #131212a8;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.footer-top {
    margin-bottom: 30px;
}

footer p{
    color: rgba(255, 255, 255, 0.75);
}

footer img {
    max-width: 175px;
}
