.home-section {
    padding-top: 150px;
	display:block;
    position:relative;
    z-index:120;
	background-color: #fff;
}


.home-section.nopadding {
    padding-top: 0;
    padding-bottom: 0;
	display:block;
    position:relative;
    z-index:120;
}
.home-section.nopadding-bot {
    padding-bottom: 0;
}
.home-section.nopadding-top {
    padding-top: 0;
}

.inner-section {
    padding-top: 110px;
    padding-bottom: 110px;
}


.home-section.nopadd-bot {
    padding-bottom: 0;
}

.circled {
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	width: 1.6em;
    height: 1.6em;
	text-align: center;
	line-height: 1.6em;
}

ul.list-group{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 20px;
}


ul.list-group li {
	margin: 0 0 20px 0;
	line-height: 1.6em;
}