.content {
    border-radius: 5px;
}

.services-item{
    background:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    border-radius:15px;
    overflow:hidden;
    height:100%;
    -webkit-box-shadow:0 5px 25px rgba(56,66,87,.15);
    box-shadow:0 5px 25px rgba(56,66,87,.15)}
    
.services-item img{
    display:flex;
}

.services__title{margin-bottom:50px}

.services__item__desc-title{
    font-weight:700;
    font-size:18px;margin-bottom:5px
}

