@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.navbar,
.helloSLider,
.about,
.services,
.team,
.feedback
{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
    padding: 0px 90px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

/* Btn */
.btn {
    border-radius: 5px;
    padding: 14px 38px;
}

.btn-brand {
    color: #013383;
    font-weight: 500;
    border-color: #013383;
    background-color: #ffffff;
}

.btn-brand:hover {
    border-color: #013383;
    background-color: #013383;
    color: #fff;
}
